<nav class="navbar navbar-expand-lg navbar-secondary bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand text-light-emphasis">Admin</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <%= link_to 'Teams', '/admin/teams', class:'btn btn-outline-light m-1' %>
      <%= link_to 'Create New Team', '/admin/create_team', class:'btn btn-outline-light m-1'%>
    </div>
  </div>
</nav>